# Umum
.DS_Store
Thumbs.db

# Artefact
artefact/node_modules/
artefact/.vite/
artefact/public/
artefact/yarn.lock

# Next.js
server/nextjs/node_modules/
server/nextjs/.env
server/nextjs/.next/
server/nextjs/out/
server/nextjs/yarn.lock

# Python
server/python/__pycache__/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistem Operasi
*.swp
*.swo
*.tmp
